body {
  font-family: sans-serif;
  justify-content: center;
}

svg {
  outline: solid #aaaac2;
  display: block;
  margin: 10px auto;
  border-radius: 15px;
}

rect {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  fill: none;
}

.axis text {
  font-size: 1.2em;
  fill: rgb(33, 151, 187);
}

.slider text {
  font-size: 0.9em;
  font-weight: bold;
  fill: rgb(5, 66, 94);
}

.handle {
  /* circle */
  d: path("M -8, 0 a 8,8 0 1,1 16,0 a 8,8 0 1,1 -16,0");
  fill: #05405b;
}

.crime_line {
  stroke: #c92e2e;
  fill: none;
  stroke-width: 2;
}

select {
  padding: 5px;
  border-radius: 10px;
}