body {
  font-family: sans-serif;
  justify-content: center;
}

svg {
   background-color: wheat;
   outline: solid brown;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 15px;
  /* position: relative; */
}

rect {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  fill: none;
}

.map {
  /* fill: none; */
}

.chart1 {
  fill: grey;
  margin-top: 5px;
  vertical-align: center;
  text-align: right;
  /* right: '0'; */
}

.chart2 {
  fill: gainsboro;
  /* left: '0'; */
}

.line {
  fill: goldenrod;
}

.axis text,
.slider text {
  font-size: 1.4pm;
}

.axis text {
  fill: rgb(33, 151, 187);
}

.slider text {
  fill: rgb(5, 66, 94);
}
